  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet"
      />  
      <!-- Bootstrap CSS -->
      <link
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="../static/css/normalize.css">
      <link rel="stylesheet" href="../static/css/admin.css">
      <title>Admin</title>
    </head>
    <body>
  <div class="container"> <!-- Contenedor principal -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4"> <!-- Barra de navegación -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Usuarios</a> <!-- Enlace a la sección de Usuarios -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Productos</a> <!-- Enlace a la sección de Productos -->
                </li>
            </ul>
        </div>
    </nav>

    <main> <!-- Contenido principal -->
        <section id="sec-usuarios"> <!-- Sección de Usuarios -->
            <h2 class="mt-4 mb-4">Usuarios</h2> <!-- Título de la sección -->
            <button onclick="agregarUsuario()" id="agregar-usuario" class="btn btn-primary mb-4" >
                Agregar Usuario <!-- Botón para agregar un nuevo usuario -->
            </button>
            <table id="usuarios-table" class="table"> <!-- Tabla para mostrar la lista de usuarios -->
                <thead class="thead-dark"> <!-- Encabezado de la tabla -->
                <tr>
                    <th>ID</th> <!-- Columna de ID -->
                    <th>Nombre</th> <!-- Columna de Nombre -->
                    <th>Clave</th>  <!-- Columna de Clave -->
                    <th>Tipo</th>  <!-- Columna de Tipo -->
                    <th>Acciones</th> <!-- Columna de Acciones -->
                    <td></td> <!-- Celda vacía -->
                </tr>
                </thead>
                <tbody>
                <!-- Aquí se insertarán los usuarios dinámicamente -->
                </tbody>
            </table>
        </section>

        <section id="sec-catalogo"> <!-- Sección de Productos -->
            <h2 class="mt-4 mb-4">Productos</h2> <!-- Título de la sección -->
            <button id="agregar-producto" class="btn btn-primary mb-4">
                Agregar Producto <!-- Botón para agregar un nuevo producto -->
            </button>
            <table id="productos-table" class="table"> <!-- Tabla para mostrar la lista de productos -->
                <thead class="thead-dark"> <!-- Encabezado de la tabla -->
                <tr>
                    <th>ID</th> <!-- Columna de ID -->
                    <th>Producto</th> <!-- Columna de Producto -->
                    <th>Precio</th> <!-- Columna de Precio -->
                    <th>Acciones</th> <!-- Columna de Acciones -->
                </tr>
                </thead>
                <tbody>
                <!-- Aquí se insertarán los productos dinámicamente -->
                </tbody>
            </table>
            <!-- ... -->
        </section>
        <!-- ... -->
        <button onclick="window.location.href = '/home';" class="btn btn-dark"> <!-- Botón para regresar a la tienda -->
            Regresar a la tienda
        </button>
    </main>
</div>

      <!-- Bootstrap JS y jQuery (opcional) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
      
      <script>
        $(document).ready(function() {
          // Por defecto, mostrar solo la sección de Usuarios al cargar la página
          $("#sec-catalogo").hide();
      
          // Al hacer clic en el enlace de Productos, ocultar Usuarios y mostrar Productos
          $(".nav-link").click(function(event) {
            event.preventDefault();
      
            // Ocultar la sección de Usuarios y mostrar la de Productos
            $("#sec-usuarios").toggle();
            $("#sec-catalogo").toggle();
          });
        });
      </script>
      
      
    </body>
  </html>
