
body {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    }
    
    .calculator {
    background-color: #080808;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .display {
    background-color: #080808;
    color: white;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    text-align: right;
    border: none;
    outline: none;
    margin-bottom: 10px;
    }
    
    .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    }
    
    button {
    font-size: 18px;
    padding: 17px;
    border: none;
    cursor: pointer;
    border-radius: 30%;
    background-color: #212121;
    color: white;


    }
    
    button:hover {
    background-color: #777675;
    color: white;
    }

    .op {
        background-color: #F3B12D;
        font-weight: bold;
        
    }

    .c {
        color: red;
    }